.expandable-description {
	background-color: rgba(218, 216, 216, 0.795);
	border-radius: 0 0 25px 25px;
}

.expandable-description:hover {
	background-color: rgb(189, 189, 189);
}

.init-icon {
	transform: intial;
	transition-timing-function: ease-in-out;
	transition: all 0.5s;
}

.init-icon-expanded {
	transition-timing-function: ease-in-out;
	transform: rotate(-135deg);
	transition: all 0.5s;
}

#init-button.is-danger {
	background-color: #f14668;
	transition: background-color 1s;
}

#init-button.is-success {
	background-color: #48c78e;
	transition: background-color 1s;
}

a.panel-block:hover {
	text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px;
	background-color: rgba(189, 188, 188, 0.637);
}

a.panel-block.menu-item {
	border-radius: 10px;
	padding: 0 0.5em;
	transform: translateY(10em);
	opacity: 0;
	transition-timing-function: ease-out;
	transition: all 0.5s;
}

a.panel-block.menu-item-expanded {
	border-radius: 10px;
	transform: translateY(0);
	padding: 0.5em 0.5em;
	opacity: 1;
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

.menu-container {
	border-radius: 10px;
	transform: translateY(10em);
	opacity: 0;
	transition: all 0.5s;
}

.menu-container-expanded {
	border-radius: 10px;
	background-color: #eeeff18f;
	box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.35);
	margin-bottom: 0.5em;
	transform: translateY(0);
	opacity: 1;
	transition: all 0.5s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}